<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
<head>
    <meta charset="utf-8">
    <link href="../common/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="../common/css/main.css" rel="stylesheet" type="text/css">
    <meta http-equiv="refresh" content="3;url=../ctrl/login.php">
</head>
<body>
    <h1>会員登録完了</h1>
    
    <p>会員登録が完了しました。</p>
    <p>3秒後にログイン画面に移動します...</p>
    
    <div class="btnArea">
        <a href="../ctrl/login.php">ログイン画面へ</a>
    </div>
</body>
</html> 