<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
<head>
    <meta charset="utf-8">
    <link href="../common/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="../common/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>会員情報の編集</h1>

    <?php if (!empty($arrErr)): ?>
        <div class="error">
            <?php foreach($arrErr as $err): ?>
                <p><?php echo htmlspecialchars($err); ?></p>
            <?php endforeach; ?>
        </div>
    <?php endif; ?>

    <form action="../ctrl/member_update.php?redirect=index" method="post">
        <input type="hidden" name="id" value="<?php echo htmlspecialchars($member['id'] ?? ''); ?>">
        <input type="hidden" name="step" value="2">
        <table class="searchTbl">
            <tr>
                <th>姓</th>
                <td>
                    <input type="text" name="last_name" value="<?php echo htmlspecialchars($member['last_name'] ?? ''); ?>">
                </td>
            </tr>
            <tr>
                <th>名</th>
                <td>
                    <input type="text" name="first_name" value="<?php echo htmlspecialchars($member['first_name'] ?? ''); ?>">
                </td>
            </tr>
            <tr>
                <th>メールアドレス</th>
                <td>
                    <input type="email" name="email" value="<?php echo htmlspecialchars($member['email'] ?? ''); ?>">
                </td>
            </tr>
            <tr>
                <th>住所</th>
                <td>
                    <input type="text" name="address" value="<?php echo htmlspecialchars($member['address'] ?? ''); ?>">
                </td>
            </tr>
            <input type="hidden" name="postal_code" value="<?php echo htmlspecialchars($member['postal_code'] ?? ''); ?>">
            <input type="hidden" name="phone" value="<?php echo htmlspecialchars($member['phone'] ?? ''); ?>">
        </table>
        <div class="btnArea">
            <input type="submit" value="更新">
        </div>
    </form>

    <a href="../ctrl/index.php?scroll=member" class="back-button">戻る</a>
</body>
</html>
