<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
<head>
    <meta charset="utf-8">
    <link href="../common/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="../common/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>会員登録</h1>

    <form action="../ctrl/member_register.php" method="post">
        <table class="inputTbl">
            <tr>
                <th>氏名</th>
                <td>
                    姓: <input type="text" name="last_name" value="<?= isset($sLastName) ? htmlspecialchars($sLastName) : '' ?>">
                    名: <input type="text" name="first_name" value="<?= isset($sFirstName) ? htmlspecialchars($sFirstName) : '' ?>"><br />
                    <span class="err"><?= isset($arrErr['last_name']) ? $arrErr['last_name'] : "" ?></span>
                    <span class="err"><?= isset($arrErr['first_name']) ? $arrErr['first_name'] : "" ?></span>
                </td>
            </tr>
            <tr>
                <th>年齢</th>
                <td>
                    <input type="number" name="age" min="0" max="150" value="<?= isset($nAge) ? htmlspecialchars($nAge) : '' ?>">歳<br />
                    <span class="err"><?= isset($arrErr['age']) ? $arrErr['age'] : "" ?></span>
                </td>
            </tr>
            <tr>
                <th>郵便番号</th>
                <td>
                    <input type="text" name="postal_code" value="<?= isset($sPostalCode) ? htmlspecialchars($sPostalCode) : '' ?>"><br />
                    <span class="err"><?= isset($arrErr['postal_code']) ? $arrErr['postal_code'] : "" ?></span>
                </td>
            </tr>
            <tr>
                <th>住所</th>
                <td>
                    <input type="text" name="address" size="50" value="<?= isset($sAddress) ? htmlspecialchars($sAddress) : '' ?>"><br />
                    <span class="err"><?= isset($arrErr['address']) ? $arrErr['address'] : "" ?></span>
                </td>
            </tr>
            <tr>
                <th>電話番号</th>
                <td>
                    <input type="tel" name="phone" value="<?= isset($sPhone) ? htmlspecialchars($sPhone) : '' ?>"><br />
                    <span class="err"><?= isset($arrErr['phone']) ? $arrErr['phone'] : "" ?></span>
                </td>
            </tr>
            <tr>
                <th>メールアドレス</th>
                <td>
                    <input type="email" name="email" value="<?= isset($sEmail) ? htmlspecialchars($sEmail) : '' ?>"><br />
                    <span class="err"><?= isset($arrErr['email']) ? $arrErr['email'] : "" ?></span>
                </td>
            </tr>
            <tr>
                <th>パスワード</th>
                <td>
                    <input type="password" name="password"><br />
                    <span class="err"><?= isset($arrErr['password']) ? $arrErr['password'] : "" ?></span>
                </td>
            </tr>
            <tr>
                <th>パスワード（確認）</th>
                <td>
                    <input type="password" name="password_confirm"><br />
                    <span class="err"><?= isset($arrErr['password_confirm']) ? $arrErr['password_confirm'] : "" ?></span>
                </td>
            </tr>
        </table>

        <div class="btnArea">
            <input type="submit" value="確認画面へ">
            <input type="hidden" name="step" value="1" />
        </div>
    </form>

    <div class="loginArea">
        <p>既にアカウントをお持ちの方は<a href="../ctrl/login.php">こちら</a>からログインしてください。</p>
    </div>

    <style>
    .inputTbl input[type="number"] {
        width: 80px;
        padding: 5px;
    }
    </style>

</body>
</html> 